<a href="https://colab.research.google.com/github/jamesdayao/58009-DSAA/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arrays

Accessing the Elements in the Array

In [2]:
animals = ["cat", "dog", "fish"]
x = animals[0]
y = animals[1]
z = animals[2]

print(x)
print(y)
print(z)

cat
dog
fish

Modifying the Elements in the Array

In [10]:
animals = ["cat", "dog", "fish"]

animals[0] = "monkey"

print(animals)

['monkey', 'dog', 'fish']

Length of an Array

In [8]:
animals = ["cat", "dog", "fish"]

x = len(animals)

print(x)

3

Looping Array Elements

In [11]:
animals = ["cat", "dog", "fish"]

for x in animals:
  print(x)

cat
dog
fish

#Array Methods

Adding Elements in the Array

Append()

In [12]:
animals = ["cat", "dog", "fish"]

animals.append("monkey")

print(animals)

['cat', 'dog', 'fish', 'monkey']

Removing an Element in the Array

Pop()

In [14]:
animals = ["cat", "dog", "fish"]

animals.pop(2)

print(animals)

['cat', 'dog']

Inserting an Element in the Array

Insert()

In [34]:
animals = ["cat", "dog", "fish"]

animals.insert(3, "donkey")

print(animals)

['cat', 'dog', 'fish', 'donkey']

Deleting an Element in the Array

Clear()

In [38]:
animals = ["cat", "dog", "fish"]

animals.clear()

print(animals)

[]

Sorting an Element in the Array

Sort()

In [39]:
animals = ["fish", "dog", "cat"]

animals.sort()

print(animals)

['cat', 'dog', 'fish']